/* You can add global styles to this file, and also import other style files */
body, html {
  margin: 0;
  padding: 0;/* Fundo preto para toda a página */
  overflow: scroll; 
  overflow-x: hidden; /* Esconde o scroll horizontal */
}


.container {
  max-width: 400px;       /* Largura padrão de um smartphone */
}